h2 {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 25px;
    line-height: 35px;
}

p {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    line-height: 30px;
    font-size: 18px;
    text-align: center;
    color: gray;
}

.cv__resume {
    background-color: rgb(230,218,206);
    min-height: 100vh;
    display: flex;
    
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.cv__resume-heading {
    margin-top: 12rem;
    display: flex;
    align-items: center;
}

.cv__resume-heading_square {
    margin-right: 0.5rem;
}

.cv__resume-heading h1 {
    font-family: Arial,Helvetica,sans-serif;
    font-weight: 900;
    font-size: 35px;
}

.cv__resume-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cv__resume-summary_heading {
    width: 56%;
    margin: 4rem 0 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cv__resume-summary_heading h2 {
    font-family: Arial,Helvetica,sans-serif;
}

.cv__resume-summary_description, .cv__resume-education_description, .cv__resume-skills_language {
    width: 55%;
}

.cv__resume-summary_description, .cv__resume-education_description-college, .cv__resume-education_description-school, .cv__resume-skills_language {
    padding: 5rem 2.5rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    background-color: rgb(255, 255, 255);
}

.cv__resume-education {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cv__resume-education h2 {
    width: 56%;
    text-align: left;
}

.cv__resume-education_description-college, .cv__resume-education_description-school {
    margin: 3rem 0 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cv__resume-education_description-college h3, .cv__resume-education_description-school h3 {
    flex: 0.75;
    font-size: 28px;
}

.cv__resume-education_description-college_right, .cv__resume-education_description-school_right {
    flex: 1.5;
}

.cv__resume-education_description-college_right h3, .cv__resume-education_description-school_right h3 {
    font-size: 20px;
    line-height: 38px;
}

.cv__resume-education_description-college_right p, .cv__resume-education_description-school_right p {
    text-align: left;
    line-height: 35px;
}

.cv__resume-skills_language {
    margin: 5rem 0;
}

.cv__resume-skills_language h2 {
    margin-bottom: 1rem;
}

.cv__resume-skills_language h2:last-of-type {
    margin-top: 2rem;
}

.cv__resume-skills_language-list {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    line-height: 30px;
    font-size: 13px;
    column-count: 3;
    color: gray;
    list-style-type: none;
}

.cv__resume-skills_language-list li::before {
  content: '■'; 
  font-size: 2em;
  color: blueviolet;
  margin-right: 0.2em; 
}

.cv__resume-skills_certifications-list {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    line-height: 30px;
    font-size: 13px;
    column-count: 2;
    color: gray;
    list-style-type: none;
    gap: 3rem;
}

.cv__resume-skills_certifications-list li::before {
  content: '■'; 
  font-size: 2em;
  color: blueviolet;
  margin-right: 0.2em; 
}

@media screen and (max-width:1024px) {
    .cv__resume-summary_description, .cv__resume-education_description, .cv__resume-skills_language {
        width: 75%;
    }

    .cv__resume-summary_heading, .cv__resume-education h2 {
        width: 76%;
    }
}

@media screen and (max-width:800px) {
    .cv__resume-education_description-college h3, .cv__resume-education_description-school h3 {
        flex: 0.75;
        font-size: 23px;
    }

    .cv__resume-education_description-college_right h3, .cv__resume-education_description-school_right h3 {
        font-size: 18px;
    }
    
    .cv__resume-education_description-college_right p, .cv__resume-education_description-school_right p {
        font-size: 17px;
    }
}

@media screen and (max-width:655px) {
    .cv__resume-education_description-college, .cv__resume-education_description-school {
        flex-direction: column;
        text-align: center;
    }

    .cv__resume-education_description-college_right p, .cv__resume-education_description-school_right p {
        text-align: center;
        line-height: 27px;
    }
}

@media screen and (max-width:498px) {
    .cv__resume-skills_language-list {
        column-count: 2;
    }
}

@media screen and (max-width:355px) {
    .cv__resume-summary_heading {
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    .cv__resume-summary_heading h2 {
        margin-top: 4rem;
        align-self: flex-start;
    }
}